:root {
  --main-color: #c9c7c7;
  --black-color: #0e0e0e;
  --border: 0.1rem solid rgba(255, 255, 255, 0.371);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s ease;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar{
  width:0.8rem;
  background-color: white;
}
html::-webkit-scrollbar-track{
  background-color: transparent;
  border-radius: 3rem;
}

html::-webkit-scrollbar-thumb{
  background-color: #363232;
  border-radius: 3rem;
}
body {
  background-color: var(--main-color);
  height: 200;
}

section{
  padding: 3.5rem 7%;
}

.btn{
  margin-top:1rem;
  display: inline-block;
  padding: 2rem 3.75rem;
  border-radius:30rem;
  font-size:1.7rem;
  color:#fff;
  background-color: #5d462c;
  cursor:pointer;
  margin-left: 5rem;
}

.btn:hover{
  opacity: 0.8;
}
.title {
  font-size: 2rem;
}

.logo img {
  height: 5rem; /* Logonun boyutunu küçülttüm */
  margin-left: 3rem; /* Logoyu sağa taşıdım */
}

.header .logo img {
  height: 8rem; /* Header içindeki logonun boyutunu küçülttüm */
}


.header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7%;
  margin: 2rem 7%;
  border-radius: 30rem;
  box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.368);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header .navbar .active,
.header .navbar a {
  margin: 0 1rem;
  font-size: 1.6rem;
  color: #5d462c;
  border-bottom: 0.1rem solid transparent;
}

.header .navbar a:hover {
  border-bottom: 0.1rem solid var(--black-color); /* Altı çizili hover efekti */
  padding-bottom: 0.5rem;
}

.header .buttons button {
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
  margin-right: 2rem; /* İkonları sola yaklaştırmak için sağdan boşluk */
  background-color: transparent;
}

.home{
  min-height: 100vh;
  background: url(../images/kuafor.jpg) no-repeat;
  background-size:cover;
  background-position: center;
  margin-top: -14.5rem;
  display:flex;
  align-items: center;
  
}
.home .content{
  max-width: 60rem;
}
.home .content h3{
  font-size:6rem;
  color:#5d462c;
}

.home .content p{
  font-size:2rem;
  font-weight:300;
  line-height:1.8;
  gap:1.5rem;
  padding:1rem 0;
  color:#5d462c;
}

.menu .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  border-radius: 3rem;
}

.menu .box {
  padding: 3rem;
  background-color: #ffffff; /* Box background color */
  color: #5d462c; /* Text color for better readability */
  border-radius: 3rem; /* Optional: Add rounded corners */
  text-align: center; /* Center content */
  min-height: 55rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

}

.menu .box img {
  width: 100%;
  object-fit: cover;
  margin-left: 2rem;
  margin-bottom: 5rem;
  border-radius: 1rem; /* Optional: Image corner rounding */
}

.menu h1 {
  font-weight: 300;
  margin-bottom: 3rem;
  font-size: 3rem;
  color: #e8e8e8;
  border-bottom:0.5rem, solid #2d0404;
}

.menu h1 span {
  color: #5d462c; /* Highlight 'Categories' in color */
}

.menu .box-container .box-head h3{
  font-weight: 600;
  font-size:2rem;
  align-items: center;

}
